h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
    color: #323232;
}

h1, h2, h3 {
    position: relative;
}
h1 {
    font-size: 54px;
    margin: 35mm 0 50mm 5mm;
    page-break-before: always;
    /* page-break-after: always; */
}
h2 {
    page-break-before: always;
    font-size: 36px;
    margin: 5mm 0 10mm 0;
    padding: 2mm 0 2mm 6mm;
}
h2:before {
    content: '';
    display: inline-block;
    width: 3mm;
    height: 100%;
    background-color: #323232;
    position: absolute;
    top: 0;
    left: 0;
}
h3, h4, h5, h6 {
    padding: 0 0 0 3mm;
}
h3 {
    font-size: 24px;
    border-bottom: 1px solid #323232;
}
h4 {
   font-size: 22px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 18px;
}
p {
    font-size: 18px;
    padding: 0 3mm;
}
p:before {
    content: '   ';
    white-space: pre-wrap;
}
pre.hljs {
    margin: 0 3mm;
    padding: 5mm;
}
code {
    background-color: #f0f0f0;
}
blockquote {
    background-color: #f0f0f0;
    position: relative;
    padding: 3mm;
}
blockquote * {
    font-size: 0.8rem;
    color: #565656;
}
blockquote :first-child {
    margin-top: 0;
}
blockquote :last-child {
    margin-bottom: 0;
}
blockquote:before {
    content: '';
    display: inline-block;
    width: 1mm;
    height: 100%;
    background-color: #808080;
    position: absolute;
    top: 0;
    left: 0;
}

